@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&family=Open+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Baloo 2', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, cursive;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

.container {
  display: grid;
  grid-template-columns:
    minmax(40px, 1fr)
    minmax(auto, 900px)
    minmax(40px, 1fr);
}

.gg-home-alt {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 14px;
  border: 2px solid;
  border-top: 0;
  border-radius: 2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: -2px;
}

.gg-home-alt::after,
.gg-home-alt::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-home-alt::before {
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-left-radius: 4px;
  transform: rotate(45deg);
  top: -5px;
  border-radius: 3px;
  width: 14px;
  height: 14px;
  left: 0;
}

.gg-home-alt::after {
  width: 6px;
  height: 10px;
  background: currentColor;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  left: 4px;
  bottom: -2px;
}

.gg-format-separator {
  transform: scale(var(--ggs, 1));
}

.gg-format-separator,
.gg-format-separator::after {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 18px;
  height: 2px;
  top: 2px;
  border-radius: 3px;
  background: currentColor;
}

.gg-format-separator::after {
  content: '';
  position: absolute;
  top: -12px;
  left: 3px;
  opacity: 0.5;
  width: 12px;
  box-shadow: 0 4px 0 0, 0 8px 0 0, 0 16px 0 0;
}

.gg-read,
.gg-read::after,
.gg-read::before {
  display: block;
  box-sizing: border-box;
  border: 2px solid;
}

.gg-read {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: transparent;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 6px;
  height: 5px;
  border-radius: 50px;
}

.gg-read::after,
.gg-read::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: -10px;
  top: -5px;
  box-shadow: -6px 0 0 -4px currentColor;
}

.gg-read::after {
  left: 2px;
  box-shadow: 6px 0 0 -4px currentColor;
}
.gg-user {
  display: block;
  transform: scale(var(--ggs, 1));
  box-sizing: border-box;
  width: 12px;
  height: 18px;
}

.gg-user::after,
.gg-user::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid;
}

.gg-user::before {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  top: 0;
  left: 2px;
}

.gg-user::after {
  width: 12px;
  height: 9px;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  top: 9px;
}

.gg-arrow-left {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 19px;
  height: 22px;
}

.gg-arrow-left::after,
.gg-arrow-left::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
}

.gg-arrow-left::after {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  bottom: 7px;
}

.gg-arrow-left::before {
  width: 13px;
  height: 2px;
  bottom: 10px;
  background: currentColor;
}
